<div class="reddit-feed">
  <header class="reddit-feed__header">
    <div class="reddit-feed__container">
        <h1 class="reddit-feed__title" (click)="navigateToMain()">Pseudo Reddit
          <!-- <span class="reddit-feed__icon">
            <svg class="reddit-feed__egg" viewBox="0 0 35 35">
              <use xlink:href=""></use>
            </svg>
          </span> -->
        </h1>
    </div>
  </header>
  <section class="reddit-feed__body">
    <div class="reddit-feed__container">
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer class="reddit-feed__footer">
    <div class="reddit-feed__container">
      footer bla bla bla
    </div>
  </footer>

</div>



