@import 'src/variables';

.reddit-feed {
}

.reddit-feed__title {
  font-size: $sFontHeading;
  color: $cDark;
  cursor: pointer;
  position: relative;
}

.reddit-feed__icon {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 40px;
  height: 40px;
  color: #ED6A5A;
  color: $cAccent;
  transition: top .5s;
  transition-delay: .5s;
}

.reddit-feed__header {
  padding: 18px 0 63px;
  position: relative;
  background: linear-gradient(to bottom, #ffffff 49%,#5c9ead 49%,#5c9ead 70%,#21434f 70%);
}

.reddit-feed__header:hover {
  .reddit-feed__icon {
    top: 0;
  }
}

.reddit-feed__container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.reddit-feed__body {
  background: $cLight;
  padding: 20px 0 50px;
}

.reddit-feed__footer {
  background-color: $cDark;
  color: $cLight;
  padding: 30px 0;
}





