<div class="reddit-feed">
  <header class="reddit-feed__header">
    <div class="reddit-feed__container">
        <h1 class="reddit-feed__title" (click)="navigateToMain()">Pseudo Reddit</h1>
        <div class="reddit-feed__icon">
            <svg class="reddit-feed__icon-svg" viewBox="0 0 31.553 31.552">
              <use xlink:href="src/assets/icons/reddit-logo.svg#reddit"></use>
            </svg>
          </div>
    </div>

  </header>
  <section class="reddit-feed__body">
    <div class="reddit-feed__container">
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer class="reddit-feed__footer">
    <div class="reddit-feed__container">
      footer bla bla bla
    </div>
  </footer>

</div>



