<div class="reddit-feed">
  <header class="reddit-feed__header">
    <div class="reddit-feed__container reddit-feed__container_cut">
        <h1 class="reddit-feed__title" (click)="navigateToMain()">Pseudo Reddit <span class="reddit-feed__sub">{{title}}</span></h1>
        <div class="reddit-feed__icon">
            <svg class="reddit-feed__icon-svg" viewBox="0 0 31.553 31.552">
              <use xlink:href="../assets/icons/reddit-logo.svg#reddit"></use>
            </svg>
          </div>
    </div>
  </header>

  <section class="reddit-feed__body">
    <div class="reddit-feed__container">
      <div class="reddit-feed__side">
          <app-options-list
            *ngIf="subReddits && subReddits.length"
            [options]="subReddits"
            (change)="goToSubreddit($event)"
          ></app-options-list>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer class="reddit-feed__footer">
    <div class="reddit-feed__container">
      contacts, copyright, etc.
    </div>
  </footer>
</div>



