@import 'src/variables';

.post {
  background-color: $cWhite;
  padding: 20px;
  border-radius: 2px;
}

.post__body {
  margin-bottom: 10px;
}

.post__score {

}

.post__title {
  padding-bottom: 20px;
  font-size: $sFontTitle;
}

.post__text {
  padding-bottom: 20px;
}

.post__preview {
  max-width: 100%;
}

.post__footer {
  border-top: 1px solid $cLightFont;
  background-color: $cLight;
  padding: 10px;
  border-radius: 0 0 2px 2px;
}

.post__author {
  float: right;
  color: $cMedium;
  padding-right: 10px;
  font-weight: 700;
  padding-top: 3px;
}

.post__date {
  padding-top: 3px;
  float: right;
}

.post__score {
  float: left;
  font-size: $sFontLarge;
}

.post__comments {
  background-color: $cWhite;
  padding: 10px 0 10px 10px;
}

.gap {
  height: 54px;
}
