<div class="thread">
  <div
    class="thread__toggler"
    [ngClass]="{'thread__toggler_off': !threadOn}"
    (click)="toggleThread()"
  >
    <svg  class="thread__toggler-btn" *ngIf="!threadOn" viewBox="0 0 490 490">
      <use xlink:href="src/assets/icons/show-icon.svg#show"></use>
    </svg>
    <svg *ngIf="threadOn" class="thread__toggler-btn" viewBox="0 0 612 612">
      <use xlink:href="src/assets/icons/hide-icon.svg#hide"></use>
    </svg>
  </div>
  <div class="thread__placeholder" *ngIf="!threadOn">Show comments</div>
  <div class="thread__body" [ngClass]="{'thread__body_off': !threadOn}">
      <div class="thread__comment">
          <app-comment [comment]="thread" [ts]="ts"></app-comment>
      </div>
      <div class="thread__replies" *ngIf="thread.replies && thread.replies.length">
          <app-comment-thread *ngFor="let reply of thread.replies" [thread]="reply" [ts]="ts"></app-comment-thread>
      </div>
  </div>
</div>
