$cLight: #E9E9E9;
$cAccent: #ED6A5A;
$cDark: #21434F;
$cMedium: #5C9EAD;
$cMainFont: #282828;
$cLightFont: #616263;
$cWhite: #FFFFFF;

$sFontSmall: 12px;
$sFontParagraph: 14px;
$sFontLarge: 20px;
$sFontTitle: 24px;
$sFontHeading: 36px;
