@import 'src/variables';

.preview {
  background: $cWhite;
  border-radius: 2px;
  position: relative;
  padding: 20px;
  padding-left: 75px;
}

.preview__score {
  position: absolute;
  top: 20px;
  left: 20px;
  color: $cLightFont;
  font-size: $sFontLarge;
}

.preview__body {

}

.preview__main {
  padding-bottom: 20px;
}

.preview__content {
  float: left;
  max-width: calc(100% - 150px);
}

.preview__title {
  font-size: $sFontTitle;
  cursor: pointer;
  padding-bottom: 10px;
}

.preview__link {
  color: $cLightFont;
}

.preview__thumbnail {
  float: right;
  max-width: 145px;
}

.preview__footer {
  border-top: 2px solid $cLight;
  padding-top: 20px;
}

.preview__comments {
  float: left;
  cursor: pointer;
  color: $cLightFont;
  transition: color .3s;
  &:hover {
    color: $cDark;
  }
}

.preview__comment-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: inherit;
}

.preview__comment-number {
  color: inherit;
}

.preview__info {
  float: right;
}

.preview__author {
  text-align: right;
  font-weight: 700;
  color: $cMedium;
}

.preview__date {
  text-align: right;
  color: $cLightFont;
}
