<div class="preview">
  <div class="preview__score"></div>
  <div class="preview__main">
    <p class="preview__title">{{post.title}}</p>
    <a class="preview__link" [attr.href]="post.permalink">More...</a>
    <img class="preview__thumbnail" [attr.src]="post.thumbnail">
    <div class="preview__footer">
      <div class="preview__comments">
        <div class="preview__comment-icon"></div>
        <p class="preview__comment-number">{{post.numComments}}</p>
      </div>
      <div class="preview__info">
        <p class="preview__author">{{post.author}}</p>
        <p class="preview__date">{{post.created}}</p>
      </div>
    </div>
  </div>
</div>
